@import "header.css";
@import "menu.css";
body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.main_body{
    display: block;
    background: #e0ece8;
    position: fixed;

    bottom: 40px;
    top: 80px;
    right: 0;
    left: 0;
}

.menu, .pole {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    bottom: 40px;
    top: 80px;
    text-align: center;
    overflow: auto;
}

.pole{
    margin-left: 250px;
    text-align: center;
    right: 0;
    left: 0;
}

.order{
    border: 1px solid black;
    display: inline-block;
    width: 700px;
    margin: 10px 0;
    min-height: 300px;
    text-align: left;
    padding-left: 20px;
}


.footer {
    position: fixed;
    background-color: #00ad70;
    height: 40px;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.cpr {
    display: block;
    position: relative;
    top: 10px;
    font-size: 0.8em;
}


input {
    white-space: pre-wrap;

}

textarea {
    width: 600px;
    height: 140px;
    resize: none;
}

.order_text {
     background-color: white;
     width: 600px;
     min-height: 80px;
 }

.comment {
    background-color: white;
    width: 600px;
    min-height: 80px;
}

button {
    margin: 20px 0;
    border: 1px black solid;
    background-color: #00ad70;
    border-radius: 6px;
    color: white;
}
