body{
  margin: 0;
  padding: 0;
  text-align: center;
}

.header{
  display: block;
  height: 80px;
  margin: 0;
  padding: 0;
  border: 1px solid black;
   background-color: #00ad70;
}
.logo, .user{
    display: block;
    top: 20px;
}

.logo{
    float: left;
    margin-left: 200px;
    margin-top: 15px;
}
.user{
    margin-right: 100px;
    float: right;
    margin-top: 30px;
    color: white;
    font-family:sans-serif;
}

.user a{
    color: aquamarine;
}
.main_body{
  display: block;
  background: #e0ece8;
  position: fixed;
  bottom: 40px;
  top: 80px;
  right: 0;
  left: 0;
}

.menu, .pole {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  bottom: 40px;
  top: 80px;
    text-align: center;
    overflow: auto;
}

.menu{
    padding-top: 20px;
    width: 250px;
    float: left;
}

.munu_item {
    border: 1px solid black;
    display: inline-block;
    width: 80%;
    height: 50px;
    margin: 12px 0;
    text-decoration: none;
    background-color: #00ad70;
    border-radius: 3px;
    
}
.munu_item:hover {
    background-color: #00e092;
}

.munu_item a {
    color: white;
    display: block;
    position: relative;
    top: 15px;
    text-decoration: none;
}

.pole{
    margin-left: 250px;
    text-align: center;
    right: 0;
    left: 0;
}

.add_order {
    display: block;
    border: 1px black solid;
    background-color: #00ad70;
    width: 100px;
    height: 20px;
    margin-top: 30px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}

.preorder{
    display: inline-block;
    width: 700px;
    margin: 10px 0;
}

.order{
    border: 1px solid black;
    display: inline-block;
    width: 700px;
    margin: 10px 0;
    text-align: left;
    background-color: white;
    border-radius: 3px;
}
.order_link {
    z-index: 1;
    display: inline-block;
    position: absolute;
    width: 700px;
    height: 120px;
   
}


.order_body {
    float: left;
    width: 600px;
    height: 120px;
}

.order_menu{
    display: block;
    height: 25px;
    text-align: center;
}
.number, .date, .owner, .client{
    border: 1px solid black;
    display: inline-block;
    width: 144px;
    height: 24px;
    text-align: center;
    margin: 2px auto;
    background-color: #00ad70;
    color: white;
    border-radius: 3px;
    
}


.order_text {
    border: 1px solid grey;
    text-align: left;
    display: block;
    height: 83px;
    overflow: hidden;
    margin: 0 2px;
    margin-top: 7px;
    border-radius: 3px;
}

.order_status {
    
    display: block;
    width: 100px;
    margin-left: 600px;
    height: 120px;
    background-color: #00ad70;
}

.st {
    text-align: center;
    position: relative;
    display: block;
    top: 45px;
    color: white;
}

.footer {
  position: fixed;
  background-color: #00ad70;
  height: 40px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.cpr {
    display: block;
    position: relative;
    top: 10px;
    font-size: 0.8em;
}