body{
  margin: 0px;
  padding: 0px;
}

div{
  border: 1px solid black;
}

.b, .c{
  display:block;
  height: 100px;
}

.b{
  width: 200px;
  float: left;
}

.c{
margin-left:200px;
text-align: center;

}
.d{
    display: inline-block;
    width: 90%;
}

.bb{
  display: block;
  width: 100px;
}
